*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header and nav*/

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/img1-frontpage.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;  
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 100px;
}

.text-box h1{
    font-size: 100px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 2px solid white;
    padding: 12px 35px;
    font-size: 20px;
    font-weight: 900;
    background: transparent;
    position: relative;
    cursor: pointer;
    background: #ffffff;
    border-radius: 0px;
    transition: 300ms;
}

.btn:hover{
    transition: 300ms;
    border-radius: 10px;
}

nav .fa{
    display: none;
}


/* course */


.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
}

p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;  
}

.row .course-col h1{
   font-size: 50%;
    font-weight: 300px;
}

h1{
    text-align: center;
    font-weight:800;
    margin :10px 0;
    font-size: 40px;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* campus */

.campus{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 47%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
}

.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    top: 50%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding:0 ;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}


/* testimonoals */

.testimonoals{
 width: 80%;
 margin: auto;
 padding-top: 100px;
 text-align: center;

}

.test-box{
    display: flex;   
}

.test-box .row{
    width: 50%;
    display: inline-block;
    margin: 5px;
}

.testimonoal-col{
    border-radius: 10px;
    text-align:left;
    background: #fff3f3;
    padding: 30px;
    cursor: pointer;
}

.testimonoal-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;  
} 

.testimonoal-col p{
    padding: 0;  
}

.testimonoal-col h3{
    margin-top: 15px;
    text-align: left;   
}

.testimonoal-col .bi{
    color: #f44336;
}


/* call to actions */

.cta
{ 
    margin: 100px auto;
    width:80% ;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img11-banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color:white;
    margin-bottom: 40px;
    padding: 0;  
}

.hero-btn{
    border: 2px solid black;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.4s;  
    color: black;
    font-weight:400;
}


/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h3{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
}

.icons .bi{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.bi-suit-heart {
    color: red;
}


/* about us page */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/img12-about.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff; 
}

.sub-header h1{
    padding-top: 30px;
}

.about-us{
    width:80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}


/* blog content */

.blog-content{
    margin:auto;
    width: 80%;
    padding: 60px 0;
}

.blog-left img{
    float: left;
    width: 600px;
    height: 360px;
    padding:0 10px ;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
    text-align:center;
    font-size: 40px;
}


/* .cooment */

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px;
}


/* contact us */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-us div .bi{
    font-size:30px;
    color: #f44336;
    margin:10px;
    margin-right:20px ;
}

.contact-us div p{
    padding: 0;
}

.contact-us div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555 ;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}




























































